html {
    height: 100%; 
} 

body {
    min-height: 100%; 
}

body {
    display: flex; flex-direction: column; 
} 

footer {
    margin-top: auto; 
} 

.image-holder-profile { 
    width: 100%; height: auto; 
} 

.image-holder-user-conversation {
    width: 2rem; height: 2rem; 
} 

.image-holder img { 
    display: inline-block; 
    object-fit: contain; 
    width: 100%; height: 100%; 
} 

.image-holder-user-conversation  img { 
    object-fit: cover; 
    border-radius: 100px; 
}