html {
    height: 100%; 
} 

body {
    min-height: 100%; 
}

body {
    display: flex; flex-direction: column; 
} 

footer {
    margin-top: auto; 
} 

.image-holder { 
    display: block; 
    overflow: hidden; 
}

.image-holder-header {
    width: 2rem; height: 2rem; 
} 

.image-holder-user-index {
    width: 100%; height: 10rem; 
}

.image-holder-profile { 
    width: 100%; height: auto; 
} 

.image-holder-user {
    width: 2rem; height: 2rem; 
} 

.image-holder img { 
    display: inline-block; 
    object-fit: contain; 
    width: 100%; height: 100%; 
} 

.image-holder-user-index img, 
.image-holder-user img { 
    object-fit: cover; 
} 

.image-holder-user img { 
    border-radius: 100px; 
} 

.message {
    --message-border: 1px solid rgba(0, 0, 0, 0.4); 
} 

.message { 
    padding-block: 1em; 

} 

.message + .message {
    margin-top: 1em; 
}

.sent-user-current {
    margin-left: auto; 
    padding-left: 1em; border-left: var(--message-border);  
} 

.sent-user-other {
    align-items: end; 
    padding-right: 1em; border-right: var(--message-border); 
} 

.member-heading {
    font-size: 1rem; 
}

.dropdown-toggle.show, 
.dropdown-toggle:first-child:active { 
    border-color: transparent; 

}

