<header>
    <nav class="navbar navbar-expand"> 
        <div class="container">
            <a href="/" class="navbar-brand">Dating App</a> 

            <ul class="navbar-nav me-auto"> 
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li> 

                <li class="nav-item">
                    <a href="/users" class="nav-link">Users</a>
                </li> 

                {{#if user}} 
                <li class="nav-item"> 
                    <div class="dropdown">
                        <button class="btn dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                            Messages
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/messages?messagesToGet=received">Received</a></li> 
                            <li><a class="dropdown-item" href="/messages?messagesToGet=sent">Sent</a></li> 
                        </ul>
                    </div>
                </li>
                {{/if}} 
            </ul> 

            <ul class="navbar-nav"> 
                {{#if user}} 
                <li class="nav-item d-flex align-items-center">  
                    <span class="image-holder image-holder-user"><img src="{{user.photoUrl}}" alt=""></span> 
                    <a href="/users/{{user.id}}/profile" class="nav-link">Hello, {{user.username}}</a> 
                </li> 

                <li class="nav-item"> 
                    <form action="/auth/logout" method="POST">
                        <button class="nav-link">Logout</button> 
                    </form>
                </li> 
                {{else}} 
                <li class="nav-item">
                    <a href="/auth/register" class="nav-link">Register</a>
                </li> 

                <li class="nav-item">
                    <a href="/auth/login" class="nav-link">Login</a> 
                </li>
                {{/if}}
            </ul> 
        </div>
    </nav> 
</header> 
