<div class="user d-flex align-items-center">
    <div class="image-holder image-holder-user"> 
        <img src="{{user.imageUrl}}" alt="">
    </div> 

    <div class="ms-2"> 
        <p class="mb-0">{{user.username}}</p> 
    </div> 
</div> 
